<h1> <%= post ? "Edit " : "New " %> Post </h1>
<form>
<input type="text" name="post[title]" value="<%= post ? post.escape("title") : null %>">
<textarea name="post[body]"><%= post ? post.escape("body") : null %></textarea>
<button class="edit new"><%= post ? "Edit " : "New " %>Post</button>
</form>

<button class="back">Back</button>