<h1>Posts#index</h1>

<div id="sidebar" style="float: left; padding-right: 40px;"></div>
<div id="content" style="float: left;"></div>

<script type="application/json" id="posts">
  <%= Post.all.to_json.html_safe %>
</script>

<script type="application/javascript">

$(function(){
  var bootstrappedPosts = JSON.parse($('#posts').html());

  window.Journal.initialize($('#sidebar'),$("#content"), bootstrappedPosts);
});

</script>