h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  font-family: sans-serif;
}

#sidebar {
  border-right: 1px solid #bbbbbb;
  -webkit-transition: all 1.5s;
}

#sidebar:hover {
  background: rgba(137, 137, 137, 0.5);
  -webkit-transition: all 1.5s;
}

.newpost {
  margin-bottom:10px;
  font-family: sans-serif;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
}